/* xx */
.tab-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    position: sticky;
    top: 53px; /* xxx */
    z-index: 999; /* xxx */
}

.tab-button {
    background-color: #f1f1f1;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 18px;
    margin-right: 5px;
    flex: 1; /* xx */
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1); /* xx */
}

.tab-button.active {
    background-color: #2C3E50;
    color: white;
}

/* xx */
.tab-content {
    display: none;
}

.tab-content.active {
    display: block;
}

.product-item {
    background: #ffffff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: left;
}
