/* x */
.resource-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 15px;
    margin-top: 20px;
}

/* x */
@media screen and (max-width: 768px) {
    .resource-grid {
        grid-template-columns: repeat(1, 1fr);
        gap: 10px;
    }
}

/* x*/
@media screen and (max-width: 480px) {
    .resource-grid {
        grid-template-columns: repeat(1, 1fr); /* x */
        gap: 10px; /* x */
    }
}

/* x */
.category-filter {
    text-align: center;
    margin-bottom: 20px;
}

.filter-btn {
    background-color: #2C3E50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 5px;
}

.filter-btn.active {
    background-color: #1A242F;
}

.filter-btn:hover {
    background-color: #1A242F;
}

/* x */
.resource-item {
    background: #f4f4f4;
    padding: 0;
    margin-bottom: 10px; /* x */
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
    display: flex;
    flex-direction: column;
    height: auto; /* x */
    box-sizing: border-box;
    overflow: hidden;
}

/* x */
.resource-item img,
.resource-item iframe {
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 8px 8px 0 0;
    margin: 0;
}

/* x */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.8);
    padding-top: 60px;
}

.modal-content {
    margin: auto;
    display: block;
    max-width: 80%; /* x */
    max-height: 70%; /* x */
    border-radius: 8px;
    box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.5);
    object-fit: contain;
}

.modal .close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
    cursor: pointer;
}

.modal .close:hover,
.modal .close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption {
    text-align: center;
    color: #ccc;
    padding: 10px 0;
    height: 30px;
    font-size: 18px;
}


/* x */
.save-hint {
    text-align: center;
    color: #ff0000; /* x */
    padding: 10px;
    font-size: 16px;
    margin-top: 5px; /* x */
    font-weight: bold; /* x */
}

